{% extends "base.html" %}
{% block content %}

<div class="tabs tabs-border mb-4">
    <a class="tab" href="/upload">Upload</a>
    <a class="tab tab-active">Preview</a>
    <a class="tab" href="/match/{{ file_id }}">Match</a>
</div>

<div id="previewContainer" class="bg-white p-4 rounded shadow text-sm">
    <div role="alert" class="alert alert-info">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
    <span>Ładuje Dane...</span>
</div>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const token = localStorage.getItem("access_token");

    if (!token) {
        // użytkownik niezalogowany → pokaż login
        window.location.href = "/login";
        return;
    }

    // token jest → dopiero wtedy fetch
    loadPreview("{{ file_id }}");
});
</script>

{% endblock %}